<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        bootstrap="tests/bootstrap.php"
        colors="true"
>
    <testsuites>
        <testsuite name="integration">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="mysql_dsn" value="mysql:host=172.17.0.1;dbname=libertyphp_datamapper"/>
        <env name="mysql_user" value="root"/>
        <env name="mysql_password" value="root"/>
        <env name="postgresql_dsn" value="pgsql:host=172.17.0.1;dbname=libertyphp_datamapper"/>
        <env name="postgresql_user" value="postgres"/>
        <env name="postgresql_password" value="123456"/>
    </php>
</phpunit>

